* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.6rem;
  background-color: black;
  padding: 5rem;
}

/*
 for files and folder display
*/
.folder {
  margin-left: 40px;
  margin-bottom: 30px;
}
.main {
  margin-bottom: 5rem;
  border-left: 1px solid white;
}
.folder {
  border-left: 0.5px solid white;
}

p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: white;
}

p.hasFolder::before {
  content: '---📁';
  color: white;
  margin-right: 10px;
}
p.hasFile::before {
  display: flex;
  align-items: center;
  content: '---📄';
  color: white;
  margin-right: 10px;
}

input[type='file'] {
  color: black;
  font-family: inherit;
}
.fileSelectLayout {
  text-align: center;
}
.fileSelectContainer {
  background-color: white;
  margin: 0 auto;
  display: inline-block;
  padding: 2rem;
  border-radius: 0.5rem;
}
.fileSelectContainer label {
  display: block;
  margin-bottom: 1rem;
}
